<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Txt Thread: Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="/js/jquery.js"></script>
</head>
<body>

  <div class="m-4">
    <div id="data">
    </div>
    <div class="my-2">
      <button onclick="loadUser('left')" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <i class="fa fa-arrow-left"></i>
        Go Left 
      </button>
      <button onclick="loadUser('right')" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Go Right 
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
  
</body>

<script>

loadUser('right');

async function loadData() {
  
  await $.ajax({
    url: "/data",
    method: "GET",
    success: (data) => {

      $("#result").html(data);

    },
    error: (xhr, status, err) => {

      console.error(status);

    }
  })

}

async function loadUser(move) {
  
  await $.ajax({
    url: "/user?move=" + move,
    method: "GET",
    success: (data) => {

      if (data.status !== "error") {

        $("#data").html(data);

      }

    },
    error: (xhr, status, err) => {

      console.error(status);

    }
  })

}

</script>

</html>