<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Txt Thread: Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="/js/play-tailwind.js"></script>
  <script src="/js/jquery.js"></script>
</head>
<body>

  <main id="content">
  </main>
  
</body>

<script>

redirect("/register");

const $main_container = $("#content");

async function redirect(url) {

  return $.ajax({
    url,
    method: "GET",
    success: (data) => {

      $main_container.html(data);

    },
    error: (xhr, status, err) => {

      console.error(status);

    }
  })
  
}

async function loadUser(move) {
  
  await $.ajax({
    url: "/user?move=" + move,
    method: "GET",
    success: (data) => {

      if (data.status !== "error") {

        $("#data").html(data);

      }

    },
    error: (xhr, status, err) => {

      console.error(status);

    }
  })

}

</script>

</html>