<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Txt Thread: Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="/css/root.css">
  <script src="/js/play-tailwind.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/head.js"></script>
</head>

<body>

  <main id="content"></main>

</body>

<script src="/js/utils.js"></script>
<script src="/js/root.js"></script>

<script>

  window.onload = (e) => {

    // after the window loads
    // window should never reload after that
    redirect("/home");
    // redirect("/login");
    // redirect("/register");

  }

</script>

</html>