<div class="flex my-3 hover:bg-gray-700 rounded p-3">
  <img class="rounded-full w-10 h-10" src="https://media4.giphy.com/media/NG6nBdv9Ba0ONYLBsx/giphy.gif" alt="profile picture">
  <div class="dark:text-white ms-3">
      <div>Rejwan Islam Rizvy</div>
      <div class="text-sm text-gray-500 dark:text-gray-400">You: Are you coding right now?</div>
  </div>
</div> 