<section class="flex justify-center items-center h-full">

  <div class="text-center">

    <div class="flex justify-center mb-4">
      <%- include("../utility/logo.ejs") %>
    </div>
    <%- include("../utility/button.ejs", { value: "Start", url: "/chat/lists" }) %>
    <%- include("../utility/button.ejs", { value: "Wrong", url: "/hello" }) %>
    <%- include("../utility/button.ejs", { value: "Login", url: "/login" }) %>

  </div>

</section>