<section class="text-slate-100 flex items-center justify-center h-screen">
  <!-- html here -->
  <div>
    <div class="flex justify-center mb-6">
      <%- include("../utility/logo.ejs") %>
    </div>
    <div class="bg-[#0b1e1e] p-4 sm:p-5 rounded-lg border border-slate-600 shadow-md">
      <div class="mb-4">
        <h1 class="text-2xl font-bold">Welcome Back!</h1>
        <p class="text-sm text-slate-300 sm:text-lg">Sign in to continue to the app</p>
      </div>
      <!-- form here -->
      <form action="#" class="box-border">
        <div>
          <label class="inline-block mb-2 text-slate-300" for="email">Your Email</label>
          <%- include("../inputs/input-box", { type: "email", name: "email" }) %>
        </div>
        <div>
          <label class="inline-block mb-2 text-slate-300" for="password">Password</label>
          <%- include("../inputs/input-box", { type: "password", name: "password" }) %>
        </div>
        <%- include("../buttons/btn-pill", { text: "Login" }) %>
        <div class="text-[15px] sm:text-base mt-4 block">
          No account? <button class="text-[#26b88b] hover:opacity-60" onclick="redirect('/register')">Create One</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  // js code here
</script>
